<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>What I am listening to</title>
        <style>
            * {
                font-family: sans-serif;
            }
            img {
                width: 100px;
                height: auto;
                margin-right: 10px;
            }
            h1, h2, h3, h4, h5, h6 {
                border: 0px;
                margin: 0px;
                font-weight: 400;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <img src="$COVER$" />
                </td>
                <td>
                    <h1>$NAME$</h1>
                    <h3>By <strong>$ARTIST$</strong> ($ALBUM$)</h3>
                    <a href="$SONGLINK$">Play on Spotify</a>
                </td>
            </tr>
        </table>
    </body>
</html>